<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" itemscope itemtype="http://schema.org/Person">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}Catalog App | A Python/Flask Project for Udacity's Full Stack Web Developer Nanodegree program.{% endblock %}</title>
<meta name="description" content="{% block description %}{% endblock %}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon-folder-open.ico') }}" />
{% block head_tags %}{% endblock %}
</head>
<body>
    
    {% block first_body_block %}{% endblock %}
    
    <div class="top-bar">
        <div class="row">
            <div class="columns">
                <div class="top-bar-left">
                    <ul class="dropdown menu">
                        <li class="menu-text"><a href="{{ url_for('index') }}" title="Catalog App Home"><i class="fa fa-folder-open logo"></i> Catalog App</a></li>
                    </ul>
                </div>
                {% if request.path != '/login/' and request.path != '/logout/' %}
                <div class="top-bar-right">
                    <ul class="dropdown menu">
                        <li class="menu-text">
                            {% if 'username' not in session %}
                            <a href="{{ url_for('login') }}" class="button small"><i class="fa fa-user login"></i> Log In</a>
                            {% else %}
                            <a href="{{ url_for('disconnect') }}" class="button small">Log Out <i class="fa fa-sign-out logout"></i></a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        {% if request.path != '/login/' and request.path != '/logout/' %}
        <div class="row">
            <div class="columns">
                {% block breadcrumbs %}
                <ul class="breadcrumbs">
                    <li><a href="{{ url_for('index') }}" title="Home">Home</a></li>
                    {% block breadcrumbs_items %}{% endblock %}
                </ul>
                {% endblock %}
            </div>
        </div>
        {% endif %}
    </div>
    
    <div class="row">&nbsp;</div>
    
    <div class="row">
        {% block content %}{% endblock %}
    </div>
    
    <div class="row">&nbsp;</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
<script type="text/javascript">
    if ($("#categories_accordian_list")) {
        var elem = new Foundation.Accordion($("#categories_accordian_list"));
    }
</script>
{% block end_content %}{% endblock %}

</body>
</html>
