/*--------------------------------------------------------------------
  Global HTML Elements
--------------------------------------------------------------------*/
ul.arrow-list li {
    list-style: none;
}
ul.arrow-list li:before {
    bottom: 0.1875rem;
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: normal;
    padding-right: 0.25rem;
    position: relative;
    text-decoration: inherit;
}
h2 {
    font-weight: 200;
    margin-bottom: 1rem;
}
h4 {
    font-weight: 500;
    margin-bottom: 0;
}
form label {
    font-weight: 500;
}


/*--------------------------------------------------------------------
  Buttons & Button Containers
--------------------------------------------------------------------*/
.button-lineup a.button,
.button-lineup .button {
    font-weight: bold;
    margin: 0 0.5rem 0.75rem 0;
}
.button-lineup a.button i,
.button-lineup .button i {
    margin-right: 0.25rem;
}
.button-lineup.round a.button,
.button-lineup.round .button,
a.button.round,
.button.round {
    border-radius: 2rem 2rem 2rem 2rem;
    -moz-border-radius: 2rem 2rem 2rem 2rem;
    -webkit-border-radius: 2rem 2rem 2rem 2rem;
}
h2 .button {
    margin: 0 0.75rem 0.5rem 0.75rem;
    font-weight: bold;
    border-radius: 2rem 2rem 2rem 2rem;
    -moz-border-radius: 2rem 2rem 2rem 2rem;
    -webkit-border-radius: 2rem 2rem 2rem 2rem;
}


/*--------------------------------------------------------------------
  Off-Canvas Side Menu
--------------------------------------------------------------------*/
.off-canvas-wrapper {
    background: #2c2c2c;
}


/*--------------------------------------------------------------------
  Off-Canvas Side Menu
--------------------------------------------------------------------*/
.off-canvas {
    background: #2c2c2c;
    color: white;
}
.mobile-ofc {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 0.875rem;
    font-weight: bold;
}
.mobile-ofc li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.06125);
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}
.mobile-ofc li:nth-child(2) {
    /*border-top: none;*/
}
.mobile-ofc li.menu-title {
    background: #121212;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1875);
    border-top: none;
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);*/
    font-size: 1rem;
    font-weight: bold;
    padding: 0.7rem 1rem;
}
.mobile-ofc li a,
.mobile-ofc li a:link,
.mobile-ofc li a:visited,
.mobile-ofc li a:hover,
.mobile-ofc li a:active {
    color: white;
}
.mobile-ofc li a {
    padding-left: 1rem;
    -moz-transition: padding-left .1625s ease-in;
    -o-transition: padding-left .1625s ease-in;
    -webkit-transition: padding-left .1625s ease-in;
    transition: padding-left .1625s ease-in;
}
.mobile-ofc li a:hover {
    padding-left: 1.5rem;
}
.mobile-ofc li:focus,
.mobile-ofc li a:focus {
    outline: none;
}


/*--------------------------------------------------------------------
  Main Canvas Content
--------------------------------------------------------------------*/
.off-canvas-content {
    padding-top: 4.75rem;
}
.content-wrapper {
    padding: 1.5rem 0;
}


/*--------------------------------------------------------------------
  Top Bar
--------------------------------------------------------------------*/
.top-bar {
    border-bottom: 1px solid #cdcdcd;
    width: 100%;
}
.top-bar.fixed {
    height: 4.75rem;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.top-bar .columns {
    padding: 0;
}
.top-bar .menu-text {
    font-size: 1.5rem;
}
.top-bar-left .menu-text {
    /*padding-left: 0;
    padding-right: 0;*/
}
.top-bar-right .menu-text {
    /*padding-top: 1.25rem;*/
}
.top-bar .logo {
    font-size: 2.25rem;
}
.top-bar .top-bar-left .menu li a {
    padding-left: 0;
    padding-right: 0;
}
.top-bar .top-bar-left .menu a,
.top-bar .top-bar-left .menu a:link,
.top-bar .top-bar-left .menu a:visited,
.top-bar .top-bar-left .menu a:hover,
.top-bar .top-bar-left .menu a:active {
    color: #2c2c2c;
}
.top-bar .menu li a.button {
    color: white;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem 2rem 2rem 2rem;
    -moz-border-radius: 2rem 2rem 2rem 2rem;
    -webkit-border-radius: 2rem 2rem 2rem 2rem;
}
.top-bar .menu li a.button i.login {
    padding-right: 0.25rem;
}
.top-bar .menu li a.button i.logout {
    padding-left: 0.3875rem;
}
.top-bar .breadcrumbs {
    border-top: 1px solid #ccc;
    margin: 0.25rem 0.7rem;
    padding: 0.5rem 0.7rem 0 0.25rem;
}
.top-bar .categories-menu {
    background: #2c2c2c;
    color: white;
    font-size: 0.8125rem;
}
.top-bar .categories-menu button {
    padding:  0.95rem 1rem 1rem;
    text-align: left;
    width: 100%;
}


/*--------------------------------------------------------------------
  Breadcrumbs Navigation
--------------------------------------------------------------------*/
.breadcrumbs-wrapper {
    background-color: rgba(33, 153, 232, 0.2);
    border-bottom: 1px solid rgba(33, 153, 232, 0.125);
    /*box-shadow: inset 0 1px 0 rgba(0, 102, 178, 0.25);*/
    width: 100%;
}
.breadcrumbs {
    margin: 0.8125rem 0;
}


/*--------------------------------------------------------------------
  Category Lists
--------------------------------------------------------------------*/
.category-list li {
    position: relative;
}
.category-list li a:before {
    content: "▸";
    margin-top: -0.5rem;
    position: absolute;
    right: 1rem;
    top: 50%;
}


/*--------------------------------------------------------------------
  Panels
--------------------------------------------------------------------*/
.panel {
    
}
.panel-title {
    background: #e6e6e6;
    border: 1px solid #d6d6d6;
    font-weight: bold;
    line-height: 1;
    padding: 0.7rem 1rem;
}
.panel ul {
    border: 1px solid #e6e6e6;
}
.panel-title + ul {
    border-top: none;
}
.panel li {
    border-bottom: 1px solid #e6e6e6;
}
.panel li:last-child {
    border-bottom: none;
}
.panel li a:hover {
    background-color: rgba(33, 153, 232, 0.1);
}
.panel li a.active {
    background-color: rgba(33, 153, 232, 0.1);
    font-weight: bold;
}


/*--------------------------------------------------------------------
  Profile
--------------------------------------------------------------------*/
.profile-info {
    display: inline-block;
    position: relative;
    top: 0.75rem;
}
.profile-pic {
    display: inline-block;
    height: 3rem;
    overflow: hidden;
    width: 3rem;
}
.profile-pic img {
    border: 1px solid rgba(0, 0, 0, 0.125);
    height: 100%;
    max-width: 100%;
    vertical-align: inherit;
    width: 100%;
    border-radius: 4rem 4rem 4rem 4rem;
    -moz-border-radius: 4rem 4rem 4rem 4rem;
    -webkit-border-radius: 4rem 4rem 4rem 4rem;
}
.profile-name {
    font-size: 1rem;
}


/*--------------------------------------------------------------------
  Flash Messages
--------------------------------------------------------------------*/
.flash-table {
    font-size: 1.5rem;
}
.flash-table thead,
.flash-table tbody,
.flash-table tfoot {
    background-color: transparent;
    border: none;
}
.flash-table td {
    padding: 0.5rem;
}
.flash-table .profile-pic {
    display: block;
    height: 4rem;
    width: 4rem;
}


/*--------------------------------------------------------------------
  Generic Shared Classes
--------------------------------------------------------------------*/
i.on-left {
    margin-right: 0.25rem;
}
i.on-right {
    margin-left: 0.25rem;
}
.spinner {
    color: #ababab;
    font-size: 3rem;
}
.text-smaller {
    font-size: smaller;
}
.text-larger {
    font-size: larger;
}


/*--------------------------------------------------------------------
  Media Queries
--------------------------------------------------------------------*/
@media only screen and (max-width: 40em) {

    .off-canvas-content {
        /*padding-top: 6.625rem;*/
        padding-top: 5.625rem;
    }

    .content-wrapper {
        padding: 0.625rem 0;
    }

    .top-bar.fixed {
        height: 5.625rem;
        padding: 0;
    }
    .top-bar-left,
    .top-bar-right {
        width: auto;
    }
    .top-bar .logo {
        font-size: 1.425rem;
    }
    .top-bar .menu-text {
        font-size: 1rem;
    }
    .top-bar-right .menu-text {
        padding: 0.4125rem 0.5rem;
    }
    .top-bar .menu li a.button {
        font-size: 0.6875rem;
        padding: 0.5rem 0.8125rem;
    }

    .breadcrumbs-wrapper {
        border-top: 1px solid white;
    }

}


















/*.puppy-card {
    padding: 0.5rem;
    text-align: left;
}
ul .puppy-card {
    font-weight: bold;
    text-align: center;
}
.puppy-card .contents {
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    padding: 1rem;
}
ul .puppy-card .contents {
    padding: 0.5rem;
}
.puppy-card img {
    float: left;
    height: auto;
    width: 100%;
}
ul .puppy-card img {
    float: none;
    height: 200px;
    margin-bottom: 0.4125rem;
    margin-right: 0;
    width: auto;
}
.puppy-card .contents:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}*/



